# Environment variable overrides for local development
FLASK_APP=autoapp.py
FLASK_DEBUG=1
FLASK_ENV=development
DATABASE_URL=sqlite:////tmp/dev.db
GUNICORN_WORKERS=1
LOG_LEVEL=debug
SECRET_KEY=not-so-secret
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

EVE_SSO_ENDPOINT=https://login.eveonline.com/v2/oauth/authorize
EVE_ESI_DOMAIN=esi.evetech.net
EVE_ESI_VERSION=latest
EVE_ESI_SERVER=tranquility
# Get these from https://developers.eveonline.com/applications/create
EVE_ESI_CLIENT_ID=123abc
EVE_ESI_CLIENT_SECRET=sEcReT