{% extends "layout.html" %} {% block content %}
<div class="container" id="app">
    <h1>PvE分成计算器</h1>
    <form>
        <div class="row">
            <div class="col-5">

                <fieldset class="rounded border p-2">
                    <legend class="float-none w-auto p-2">收入</legend>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text">ISK</div>
                        </div>
                        <input type="number" class="form-control text-end ISK" id="income-value" placeholder="ISK收入">
                    </div>
                    <label for="loot" class="form-label">掉落</label>
                    <textarea class="form-control" id="loot" rows="3" placeholder="粘贴至此..."></textarea>
                    <div class="row mx-0 mt-2">
                        <div class="col-5 p-0">
                            估价地点：
                            <select name="sell-location" id="sell-location">
                                <option value="10000002">The Forge</option>
                            </select>
                        </div>
                        <div class="col-7 p-0 d-flex justify-content-end">
                            价格设置：
                            <select name="sell-order" id="sell-order">
                                <option value="buy" selected="selected">Buy</option>
                                <option value="sell">Sell</option>
                            </select>
                            <select name="sell-strat" id="sell-strat">
                                <option value="max">Max</option>
                                <option value="median">Median</option>
                                <option value="min">Min</option>
                                <option value="percentile" selected="selected">Percentile</option>
                                <option value="stddev">Stddev</option>
                                <option value="weightedAverage">WeightedAverage</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="rounded border p-2">
                    <legend class="float-none w-auto p-2">支出</legend>
                    <div class="row">
                        <div class="col-2 mb-4">纤维：</div>
                        <div class="col-4"><select name="abyssal-level" id="abyssal-level">
                                <option value="Tranquil">T0 - Tranquil</option>
                                <option value="Calm">T1 - Calm</option>
                                <option value="Agitated">T2 - Agitated</option>
                                <option value="Fierce">T3 - Fierce</option>
                                <option value="Raging">T4 - Raging</option>
                                <option value="Chaotic">T5 - Chaotic</option>
                                <option value="Cataclysmic">T6 - Cataclysmic</option>
                            </select></div>
                        <div class="col-4"><select name="abyssal-weather" id="abyssal-weather">
                                <option value="Electrical">Electrical</option>
                                <option value="Dark">Dark</option>
                                <option value="Exotic">Exotic</option>
                                <option value="Firestorm">Firestorm</option>
                                <option value="Gamma">Gamma</option>
                            </select></div>
                        <div class="col-2"><span class="d-flex justify-content-end ms-1">x<input id="filament-count"
                                    class="w-100 ms-1 border-danger" type="number" min=0 step=1 value=0
                                    data-bs-toggle="tooltip" data-bs-title="纤维数可能存在误差！"></span></div>
                        <div class="col-6"></div>
                        <div class="col-6 mb-4">
                            <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="filament-cost" data-true-value="0">...</span></div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">ISK</div>
                                </div>
                                <input type="number" class="form-control text-end ISK" id="other-cost"
                                    placeholder="ISK支出">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="col-5 p-0">
                                估价地点：
                                <select name="buy-location" id="buy-location">
                                    <option value="10000002">The Forge</option>
                                </select>
                            </div>
                            <div class="col-7 p-0 d-flex justify-content-end">
                                价格设置：
                                <select name="buy-order" id="buy-order">
                                    <option value="buy">Buy</option>
                                    <option value="sell" selected="selected">Sell</option>
                                </select>
                                <select name="buy-strat" id="buy-strat">
                                    <option value="max">Max</option>
                                    <option value="median">Median</option>
                                    <option value="min">Min</option>
                                    <option value="percentile" selected="selected">Percentile</option>
                                    <option value="stddev">Stddev</option>
                                    <option value="weightedAverage">WeightedAverage</option>
                                </select>
                            </div>
                        </div>
                </fieldset>
            </div>

            <div class="col-7">
                <table class="table align-middle table-hover" id="players">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="start-time">
                                开始时间：
                            </label>
                            <input id="start-time" type="time" name="start-time" />
                            <label for="end-time">
                                结束时间：
                            </label>
                            <input id="end-time" type="time" name="end-time" />
                        </div>
                        <div><i class="ms-4 fa-solid fa-minus clickable" id="remove-entry"></i><i
                                class="ms-4 fa-solid fa-plus clickable" id="add-entry"></i></div>
                    </div>
                    <thead>
                        <tr>
                            <th class="col-3" scope="col">参与者</th>
                            <th class="col-1" scope="col">人数</th>
                            <th class="col-1" scope="col">系数</th>
                            <th class="col-1" scope="col">点/轮数</th>
                            <th class="col-3" scope="col">分成</th>
                            <th class="col-3" scope="col">ISK每小时</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <th scope="row"><input class="w-100 playerName" type="text" placeholder="ID/职务">
                            </th>
                            <td><input class="w-100 counts" type="number" min="1" value=1></td>
                            <td><input class="w-100 weight" type="number" min="0.1" step="0.1" value=1></td>
                            <td><input class="w-100 runs" type="number" min="1" value=1></td>
                            <td>
                                <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                        class="copyable ISK share" data-true-value="0">...</span></div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                        class="copyable ISK iph" data-true-value="0">...</span></div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">总计<span class="fw-normal">（耗时 <span id="total-time">00:00</span>）</span>
                            </th>
                            <td>
                                <div class="w-100 text-center"><span id="total-counts">1</span>人</div>
                            </td>
                            <td>
                                <div class="w-100 text-center"><span id="total-runs">1</span>点/轮</div>
                            </td>
                            <th scope="row">平均</th>
                            <td>
                                <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                        class="copyable ISK" id="avg-share" data-true-value="0">...</span></div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                        class="copyable ISK" id="avg-iph" data-true-value="0">...</span></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="separator mt-5">结算</div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span>毛利润</span>
                            <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="gross-value" data-true-value="0">...</span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span>额外开销</span>
                            <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="total-cost" data-true-value="0">...</span></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-between">
                            <span>销售税<i class="text-body-tertiary" id="sales-tax-percetage">(0.00%)</i></span>
                            <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="sales-tax" data-true-value="0">...</span></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-between">
                            <span>公司税<i class="text-body-tertiary" id="corp-tax-percentage">(0.00%)</i></span>
                            <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="corp-tax" data-true-value="0">...</span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span>净利润</span>
                            <div class="d-flex justify-content-between fw-bold"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="net-value" data-true-value="0">...</span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span>平均每点/轮净利润</span>
                            <div class="d-flex justify-content-between"><span class="text-nowrap">（耗时 <span
                                        id="time-per-run"> 00:00</span>）</span><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="avg-per-run" data-true-value="0">...</span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <span>总ISK每小时</span>
                            <div class="d-flex justify-content-between"><span class="me-1">ISK</span><span
                                    class="copyable ISK" id="total-iph" data-true-value="0">...</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/pve_css.bundle.css') }}" />
{% endblock %}

{% block js %}
<script src="{{ static_url_for('static', filename='build/pve_ts.bundle.js') }}"></script>
{% endblock %}