{% extends "layout.html" %} {% block content %}
<div class="container">
    <table id="laohuangli">
        <thead>
            <tr>
                <th><span id="yearmonth"></span></th>
                <th><span id="day"></span></th>
                <th><span id="time"></span><br><span id="hour"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>宜</td>
                <td><span id="today"></span></td>
                <td>忌</td>
            </tr>
            <tr>
                <td>
                    今日：<span id="day_recommends">-</span><br>
                    时辰：<span id="hour_recommends">-</span>
                </td>
                <td><span id="luck"></span></td>
                <td>
                    今日：<span id="day_avoids">-</span><br>
                    时辰：<span id="hour_avoids">-</span>
                </td>
            </tr>
            <tr>
                <td><b>今日会战地点：</b><br><span id="battle_location"></span></td>
                <td><b>今日幸运舰船：</b><br><span id="lucky_ship"></span></td>
                <td><b>今日幸运星域：</b><br><span id="lucky_region"></span></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script src="{{ static_url_for('static', filename='build/lhl_ts.bundle.js') }}"></script>
{% endblock %}