
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5 Triglavian">About</h1>
    <div class="row">
      <p class="lead">This template was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
    <h1 class="mt-5">CCP Copyright Notice</h1>
    <div class="row">
      <p class="lead">EVE Online and the EVE logo are the registered trademarks of <a href="https://www.ccpgames.com/">CCP hf</a>. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to Archangels Inc. to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, Archangels Inc. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.</p>
    </div>
</div>
{% endblock %}

